<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="just.in.hands">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_small"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_small"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NotesViewerActivity"></activity>
        <activity android:name=".NotesLoader" />
        <activity
            android:name=".Signup_activity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".Student_Dashboard" />
        <activity android:name=".Helpdesk_Activity" />
        <activity android:name=".Projects_Activity" />
        <activity android:name=".Internals_Activity" />
        <activity android:name=".Attendance_Activity" />
        <activity android:name=".Notes_Activity" />
        <activity
            android:name=".Updates_Activity"
            android:launchMode="singleTask"
            android:parentActivityName=".Student_Dashboard" />
        <activity
            android:name=".Initiate"
            android:theme="@style/SplashAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f44e5ab4a4ed008db8a66b5227d3fdbb2c8a241e" />
    </application>

</manifest>